* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Otomanopee One", sans-serif;
}
.header {
  padding: 2rem;
  text-align: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(81, 121, 9, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.main {
  padding: 2rem;
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,98,121,1) 21%, rgba(0,212,255,1) 100%);
}

.main h2 {
  padding-bottom: 2rem;
  text-align: center;
}

.main section {
  margin: 2rem;
  height: 100%;
  width: 50%;
  
  display: flex;
  flex-flow: column wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main form {
  width: 300px;
  border: 1px solid purple;
  padding: 60px 68px 40px;
  border-radius: 40px;
  display: flex;
  flex-flow: column wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(111,121,9,1) 21%, rgba(0,212,255,1) 100%);
}

.main form button {
  margin: 15px 20px;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  font-family: inherit;
}

.main form label {
  margin: 10px 20px;
  border-radius: 10px;
}

.footer {
    text-align: center;
}
